@charset "UTF-8";

@font-face {
    font-family: "bebas neue";
    src: url("../font/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Regular.ttf");
    font-weight: 300;
}

:root {
    --default: #fff;
    --destaque: #f00;
    --font-def: "bebas neue", "sans-serif";
    --font-sec: "Poppins", "sans-serif";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #000;
    font-family: var(--font-def);
    overflow-x: hidden;
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 16px 98px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    background: transparent;
    transition: background-color 0.3s ease;
    z-index: 10;
}

header.scrolled {
    background-color: #121212;
}

header #logo {
    height: 32px;
    width: 120px;
    flex-shrink: 0;
    cursor: pointer;
}



header nav ul {
    list-style: none;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

header nav ul li a {
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
}

header nav ul li:first-child a {
    color: var(--destaque);
}


header nav ul li a:hover {
    color: var(--destaque);
    transition: 0.5s;
}

.start-btn {
    background-color: var(--destaque);
    color: var(--default);
    font-family: var(--font-def);
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border: 0;
    padding: 16px 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 2px;
    cursor: pointer;
    transition: 1s;
}

.start-btn:hover {
    transform: scale(1.1);
    transition: 1s;
}

.swiper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 0;
}

.swiper-slide {
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.1) 100%);
    z-index: 2;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.msg-container {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 25px;
    width: 60%;
    margin: auto;
    position: absolute;
    top: 10%;
    left: 5%;
    bottom: 0;
    text-align: left;
}

.msg-container h1 {
    color: #fff;
    font-family: var(--font-def);
    font-size: 16vh;
    font-style: normal;
    font-weight: 700;
    line-height: 120px;
    width: 100%;
    margin-bottom: 5px;
}

.msg-container h1>span {
    color: var(--destaque);
}

.msg-container p {
    color: #f1f1f169;
    font-family: var(--font-sec);
    font-size: 2vh;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    max-width: 600px;
}

.start-btn2 {
    display: inline-flex;
    background-color: transparent;
    justify-content: center;
    margin-top: 10px;
    padding: 24px 40px;
    align-items: flex-start;
    gap: 5px;
    border: 1px solid var(--destaque);
    color: #f00;

    font-family: var(--font-def);
    font-size: 1.4em;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 1s;
}

.start-btn2:hover {
    background-color: var(--destaque);
    color: var(--default);
    transform: scale(1.1);
    transition: 1s;
}

.msg-info {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-right: 1px solid #cccccc8a;
    padding: 10px;
}

.msg-info p:first-child {
    color: var(--destaque);
    font-family: var(--font-def);
    font-size: 7vh;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.msg-info:last-child {
    border: none;
}

.choose-us-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.choose-us {
    background: #0c0c0c;
    padding: 30px;
    border-top: 1px solid #fff;
}

.choose-us h2 {
    color: var(--default);
    text-align: center;
    font-family: var(--font-def);
    font-size: 91px;
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
    text-transform: uppercase;
    padding: 30px;
}

.choose-us h2>span {
    color: var(--destaque);
}

.choose-us #up {
    color: #f1f1f1af;
    text-align: center;
    font-family: var(--font-sec);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    width: 600px;
    margin: 0 auto;
}

.choose-us-card {
    border: 1px solid var(--destaque);
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    width: 100%;
    padding: 24px 40px;
    flex-direction: column;
    margin-top: 5%;
    align-items: flex-start;
    gap: 24px;
}
.choose-us-card:hover{
    transform:perspective(1000px) translateZ(10px);
    transition: 0.5s;
    box-shadow: 0.5px 0.5px 10px 0px rgba(255, 0, 0, 0.596);
}
.choose-us-card p:first-child {
    color: #fff;
    font-family: var(--font-def);
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

.choose-us-card h5 {
    color: var(--destaque);
    text-align: center;
    font-family: var(--font-def);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.choose-us-card p {
    color: #f1f1f1af;
    font-family: var(--font-sec);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}


.about-us {
    background-image: url("../img/abbout-back.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-us-container {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #121212f0;

}

.about-us-image {
    flex: 1;
    display: flex;
    justify-content: center;
    display: none;
}

.about-us-image img {
    width: 80%;
    border-radius: 10px;
}

.about-us-content {
    flex: 1.5;
    padding-left: 40px;
}

.about-us-title {
    font-size: 48px;
    font-family: var(--font-def);
    font-weight: 700;
    line-height: 82px;
    margin-bottom: 20px;
}

.text-white {
    color: var(--default);
    font-size: 91px;
}

.text-red {
    color: var(--destaque);
}

.about-us-description {
    width: 602px;
    margin-top: 20px;
    color: var(--default);
    font-size: 16px;
    font-family: var(--font-sec);
    font-weight: 300;
    line-height: 24px;
}

.about-us-description p {
    margin-bottom: 20px;
    color: #e0e0e0;
    font-family: var(--font-sec);
    font-size: 18px;
    line-height: 28px;
}

.avaliacoes {
    background-image: url("../img/reviews-back.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 30px;
    height: auto;
}

.avaliacoes-title h2 {
    text-align: center;
    padding: 20px;
    color: #fff;
    font-family: var(--font-def);
    font-size: 91px;
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
    text-transform: uppercase;
}

.avaliacoes-title:last-child {
    color: var(--destaque);
}

.avaliacoes-title p {
    color: var(--default);
    text-align: center;
    font-size: 16px;
    font-family: var(--font-sec);
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    width: 600px;
    margin: 20px auto;
}

.customer-reviews-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0;
}

.swiper-container-reviews {
    width: 100%;
}

.swiper-container-reviews .swiper-slide {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #140e0e;
    height: auto;
    border-radius: 30px;
}

.review-text {
    font-size: 16px;
    font-family: var(--font-sec);
    width: 50%;
    margin-bottom: 15px;
    color: var(--default);
    z-index: 2;
}

.review-stars {
    font-size: 24px;
    color: gold;
    margin-bottom: 10px;
    z-index: 2;
}

.review-client-name {
    font-size: 34px;
    color: var(--default);
    z-index: 2;
}

.review-client .client-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid var(--destaque);
    object-fit:cover;
    z-index: 2;

}

.cta-container {
    background-image: url("../img/form-back.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 30px;
    height: auto;
    display: flex;
    position: relative;
    height: auto;
    align-items: flex-start;
    justify-content: center;
}
.cta-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(163deg, #000000 0%, rgb(0 0 0) 100%);
    opacity: 0.9;
}

.form-box {
    position: relative;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container h2 {
    color: var(--default);
    font-family: var(--font-def);
    font-size: 5.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;

}

.form-container h2>span {
    color: #F00;

}

.form-container p {
    color: #F1F1F1;
    font-family: var(--font-sec);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 20px;
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    gap: 20px;
    transition: 1s ease;
}

.form-row{
    display: flex;
    gap: 30px;
    width: 100%;
}

form label {
    color: var(--default);
    font-family: var(--font-sec);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

form input {
    flex: 1;
    display: flex;
    border: 1px solid var(--default);
    padding: 20px 50px;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
}

form input[type="email"] {
    width: 100%;
}

form input::placeholder {
    color: var(--default);
    font-family: var(--font-sec);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

form input:focus {
    color: var(--default);
    font-size: 16px;
    transition: 1s ease;
}

form input:not(:focus) {
    color: var(--default);
    font-size: 16px;
}
form .error-container p{
    color: var(--destaque);
    font-size: 12px;
    font-family: var(--font-sec);
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px;
}


footer {
    background-color: #000;
    text-align: center;
    color: var(--default);
    font-family: var(--font-sec);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    padding-top: 10px;
}


.footer-logo {
    padding: 20px;
    filter: sepia(100%);
}

.footer-social {
    display: flex;
    flex-direction: row;
    border-top: 2px solid #484848;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 10px;
}

.footer-social ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    filter: invert();
}