@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
    --default: #fff;
    --destaque: #f00;
    --font-def: "bebas neue", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #000;
    font-family: var(--font-def);
}

.container {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    position: fixed; 
    top: 0;
    width: 100%;
    padding: 16px 98px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    background: transparent; 
    z-index: 10; 
}

header #logo {
    height: 32px;
    width: 120.251px;
    flex-shrink: 0;
    cursor: pointer;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

header nav ul li:first-child {
    color: var(--destaque);
}

header nav ul li {
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

header nav ul li:hover {
    color: var(--destaque);
}

.start-btn {
    background-color: var(--destaque);
    color: var(--default);
    font-family: var(--font-def);
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border: 0;
    padding: 16px 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 2px;
    cursor: pointer;
    transition: 1s;
}

.start-btn:hover {
    transform: scale(1.1);
    transition: 1s;
}


.swiper {
    width: 100%;
    height: 100vh; 
    position: absolute;
    top: 0;
    z-index: 1;
}

.swiper-slide {
    position: relative; 
}

.swiper-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0.8) 0%, 
        rgba(0, 0, 0, 0.1) 100% 
    );
    z-index: 2;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
